In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('darkgrid')

train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [49]:
x_train = train_data.get(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])
y_train = train_data.get(['Survived'])

In [50]:
has_family_train = (x_train['SibSp'] + x_train['Parch'] > 0).astype(int)
has_family_test = (test_data['SibSp'] + test_data['Parch'] > 0).astype(int)

In [51]:
x_train['has_family'] = has_family_train
test_data['has_family'] = has_family_test

In [52]:
x_train = x_train.drop(columns = ['Name', 'SibSp', 'Parch', 'Ticket', 'Fare'])
test_data = test_data.drop(columns = ['Name', 'SibSp', 'Parch', 'Ticket', 'Fare'])

In [59]:
for i in x_train.columns:
    print(i + ' ' + str(x_train[i].isnull().sum()))
    
for i in test_data.columns:
    print(i + ' ' + str(test_data[i].isnull().sum()))

PassengerId 0
Pclass 0
Sex 0
Age 0
Embarked 0
has_family 0
PassengerId 0
Pclass 0
Sex 0
Age 86
Embarked 0
has_family 0

In [54]:
x_train = x_train.drop(columns = ['Cabin'])
test_data = test_data.drop(columns = ['Cabin'])
x_train['Sex'] = (x_train['Sex'] == 'male').astype(int)

x_train.dtypes

PassengerId      int64
Pclass           int64
Sex              int32
Age            float64
Embarked        object
has_family       int32
dtype: object

In [55]:
x_train.head()

   PassengerId  Pclass  Sex   Age Embarked  has_family
0            1       3    1  22.0        S           1
1            2       1    0  38.0        C           1
2            3       3    0  26.0        S           0
3            4       1    0  35.0        S           1
4            5       3    1  35.0        S           0

In [57]:
x_train = x_train.dropna()

x_train['Age'] = (x_train['Age'] // 10).astype(int)

In [58]:
x_train.head()

   PassengerId  Pclass  Sex  Age Embarked  has_family
0            1       3    1    2        S           1
1            2       1    0    3        C           1
2            3       3    0    2        S           0
3            4       1    0    3        S           1
4            5       3    1    3        S           0